body {
    margin: 0cm;
    background-color: rgb(189, 189, 189);
    background-image: url(cow.jpg);
}
.parent {
    width: 100%;
    height: 100vh;
    background-color: gray;
    margin: 0cm;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle {
  border: 25px solid white;
 border-radius: 500px;
 background-image: url(cow.jpg);
 width: 200px;
 height: 200px; 
 background-size: 234px;
 background-position: center;
 box-shadow: inset 3px 3px rgb(163, 162, 162);
}